<%- include("partials/header.ejs") %>
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-dark">Kitoblarni chiqishi</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Kitoblarni chiqishi</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Kitoblarni chiqishi</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="tbl-list-issue-book" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Book</th>
                        <th>UserInfo</th>
                        <th>Total Days</th>
                        <th>Issue Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Category</th>
                        <th>Book</th>
                        <th>UserInfo</th>
                        <th>Total Days</th>
                        <th>Issue Date</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<%- include("partials/footer.ejs") %>
