</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2021 - 2022 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
  MERN KURS 
  <div class="float-right d-none d-sm-inline-block">
    <b>IT REACTOR</b> A>K
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include('inc/script.ejs') %> 
</body>
</html>
